*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
idp-webapp/src/main/webapp/WEB-INF/lib/*.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IDE metadata
.idea
.settings/
.project

# Build output
target/
.checkstyle
.classpath

*.iml
*.crt
*.jks
*.p12
*.key
*.kver
testshib-metadata.xml
idp-metadata.xml
**/overlays/
.history
.vscode
