language: java
sudo: false
jdk:
- oraclejdk7
branches:
  only:
  - master
before_install:
- chmod -R 777 ./travis/init-travis-build.sh
- ./travis/init-travis-build.sh
script:
- mvn clean install -T 5
