<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"

       default-init-method="initialize"
       default-destroy-method="destroy">

    <util:list id="idpPropertiesLocations">
        <value>/idp/conf/idp.properties</value>
        <value>/idp/conf/ldap.properties</value>
        <value>/idp/conf/services.properties</value>
        <value>/idp/conf/saml-nameid.properties</value>
    </util:list>

    <bean id="shibboleth.PropertySourcesPlaceholderConfigurer"
          class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer"
          p:placeholderPrefix="%{" p:placeholderSuffix="}"
          p:locations-ref="idpPropertiesLocations"/>

    <import resource="../idp/system/conf/global-system.xml" />
</beans>
