<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0"
         metadata-complete="true">

    <display-name>Shibboleth Identity Provider</display-name>

    <!-- Spring application context files. Files are loaded in the order they appear with subsequent files overwriting
    same named beans in previous files. -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            ${idp.home}/system/conf/global-system.xml
            ${idp.home}/system/conf/oidc-protocol-system.xml
        </param-value>
    </context-param>
</web-app>
