##
## Velocity template to read from local storage.
##
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <meta charset="utf-8" />
        <script>
            #include( "local-storage/local-storage-read.js" )
        </script>
    </head>
    <body onload="readLocalStorageAndSubmit('$localStorageKey', '$localStorageVersion')">
        <noscript>
            <p>
                <strong>Note:</strong>
                Since your browser does not support JavaScript,
                you must press the Continue button once to proceed.
            </p>
        </noscript>
        <form name="form1" action="${flowExecutionUrl}&_eventId=formSubmitted" method="post">
            <div>
                <input name="shib_idp_ls_exception" type="hidden" />
                <input name="shib_idp_ls_success" type="hidden"/>
                <input name="shib_idp_ls_supported" type="hidden" />
                <input name="shib_idp_ls_value" type="hidden" />
                <input name="shib_idp_ls_version" type="hidden" />
            </div>
            <noscript>
                <div>
                    <input type="submit" value="Continue"/>
                </div>
            </noscript>
        </form>
    </body>
</html>
