#parse("oidc/header.vm")

<body>
<noscript>Your browser does not support JavaScript!</noscript>

<form name="approveForm" id="approveForm" action="authorize" method="post" style="display:none">
    <fieldset>
        #set ($scopes = $oidcResponse.getScopes())
        #foreach ($scope in $scopes)
            #set ($scopeName = "scope_" + $scope.value)
            <input type="hidden" name="$scopeName" value="$scope.value" />
        #end
        <input type="hidden" name="user_oauth_approval" value="true" />

        #foreach ($attribute in $postAuthorizationAttributes.entrySet())
            <input type="hidden" name="$attribute.key" value="$attribute.value.token" />
        #end
        <input type="hidden" name="csrf" value="$csrf.token" />
        <input type="submit" value="Submit" />

    </fieldset>
</form>

<script>
    var form = document.getElementById('approveForm');
    form.submit();
</script>

</body>


#parse("oidc/footer.vm")
