#parse("oidc/header.vm")

<body>
<form style="display:none;" name="approveForm" id="approveForm" action="authorize" method="post">
    <fieldset>
        #set ($scopes = $oidcResponse.getScopes())
        #foreach ($scope in $scopes)
            #set ($scopeName = "scope_" + $scope.value)
            <input type="hidden" name="$scopeName" value="$scope.value" />
        #end
        <input type="hidden" name="user_oauth_approval" value="true" />
        <input type="hidden" name="csrf" value="$oidcResponse.getCsrf()" />
        <input type="submit" value="Submit" />

    </fieldset>
</form>

<script>
    var form = document.getElementById('approveForm');
    form.submit();
</script>

</body>


#parse("oidc/footer.vm")
